.modall{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.event-form{
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
}

label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-form input{
  width: 350px;
  margin: 5px 0 10px 10px;
  font-size: 1em;
}

.event-form button{
  font-size: 1em;
  padding: 7px;
  margin-top: 20px;
  background-color:  rgb(93, 228, 154);
  color: white;
}

.close-modal{
  position: absolute;
  top: 9px;
  right: 14px;
  cursor: pointer;
  font-size: 1.5em;
}

header{
  padding: 10px;
  color:  rgb(228, 93, 93);
  font-size: 2em;
  margin-bottom: 30px;
  background-color: rgb(210, 238, 224);
}

.event-buttons button:first-of-type{
  background-color: rgb(210, 238, 224);
}

.event-buttons button:nth-of-type(2){
  background-color: rgb(93, 228, 154);
  color: white;
}

button:hover{
  cursor: pointer;
}

.event-views{
  display:flex;
padding-left: 150px

}

.event-view{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap:  wrap;
  margin: 10px 20px;
  justify-content: space-between;
  /* background-color:  rgb(247, 238, 238); */
  cursor: pointer;
  position: relative;
  margin:10px;
  padding:10px
}

.event-view >img{
  opacity: 0.3;
  padding-left: 50px;
}

.event-date{
  transform: rotate(-90deg);
  position: absolute;
  bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
  color:#c6a632
}

.event-name{
  background-color: #8fa39a;
  position: absolute;
  width:35%;
  top:50px;
  padding:10px
}
